alembic==1.19.1
fastapi==0.135.4
uvicorn
SQLAlchemy==2.0.34
requests==2.33.0
psycopg2-binary==2.9.9
PyJWT
pydantic
celery[redis]
openai
demjson3==3.0.6
pika
textract==1.6.5
python-multipart
setuptools==83.0.0
youtube-transcript-api
beautifulsoup4
fsrs
pypdf==6.16.2
