fastapi==0.115.12
uvicorn
SQLAlchemy==2.0.34
requests==2.32.3
psycopg2-binary==2.9.9
PyJWT
pydantic
celery[redis]
openai
demjson3==3.0.6
pika
textract==1.6.5
python-multipart
setuptools==80.8.0
youtube-transcript-api
beautifulsoup4
fsrs
pypdf==5.1.0
