@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
  --color-primary: #FFFFFF;
  --color-secondary: #3083DC;
  --color-tertiary-100: rgba(57, 57, 58, 1);
  --color-tertiary-40: rgba(57, 57, 58, 0.40);
  --color-tertiary-30: rgba(57, 57, 58, 0.30);
  --color-tertiary-20: rgba(57, 57, 58, 0.20);
  --color-tertiary-10: rgba(57, 57, 58, 0.10);
  --color-tertiary-2: rgba(57, 57, 58, 0.02);

  --color-tertiary-red-75: rgba(208, 0, 0, 0.75);
  --color-tertiary-red-80: rgba(208, 0, 0, 0.80);
  --color-tertiary-red-60: rgba(208, 0, 0, 0.60);
  --color-tertiary-red-65: rgba(208, 0, 0, 0.65);
  --color-tertiary-green-60: rgba(28, 124, 84, 0.60);
  --color-tertiary-green-65: rgba(28, 124, 84, 0.65);
  --color-tertiary-green-95: rgba(28, 124, 84, 0.95);
  --color-tertiary-green-100: rgba(28, 124, 84, 1);
}

.btn-primary {
  @apply border flex items-center gap-2 py-1.5 px-3 border-tertiary-40 rounded-md hover:bg-tertiary-2 cursor-pointer font-medium text-sm md:text-base text-nowrap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}